body{
    background-color:#F9F8FD;
}
/*/menu/*/
.header_menu{
    width: 100%;
    height: 51px;  
    display: flex;
    justify-content: center;
}

.logo{
    cursor: pointer;
    width: 176px;
    height: 32px;
}

.menu{
    width: 1279px;
    height: 51px;   
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(7.5px);
    border-radius: 75px;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}


.header_menu_item{
    width: 120.95px;
    height: 14px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 104%;
    list-style-type: none;
    text-align: center;
    color: #22253B;
    
}

.header_menu_item:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s;
}

.buttons{
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.log_button{
    width: 94.62px;
    height: 30.73px;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 104.4%;
    list-style-type: none;
    text-align: center;
    background: #38BFF2;
    border-radius: 34px;
    border: none;
    color: #FFFFFF;
    margin-top: -20px;
}

.log_button:hover{
    background: #5096FF;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s;
}

/*/ what_need/*/

.what_need{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what_need_title{
    width: 665px;
    height: 96px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    text-align: center;

    color: #22253B;
}

.what_need_blocks{
    width: 415px;
    height: 155px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -80px;
}

.what_need_subtitle{
    width: 386px;
    height: 50px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #22253B;
    margin-top: 26px;
}

.what_need_block1{
    text-align: center;
    width: 179px;
    height: 45px;

    background: #5096FF;
    border-radius: 44px;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 46px;

    color: #FFFFFF;
}

.what_need_block2{
    width: 227px;
    height: 45px;
    left: 899px;
    top: 880px;

    background: #F15525;
    border-radius: 82px;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;

    text-align: center;

    color: #FFFFFF;
}

.what_need_block3{
    width: 396px;
    height: 45px;

    background: #4BD071;
    border-radius: 44px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 46px;

    text-align: center;

    color: #FFFFFF;
    margin-top: 8px;
}

.what_need_block4{
    width: 345px;
    height: 45px;
    left: 709px;
    top: 990px;

    background: #50C0FF;
    border-radius: 44px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 46px;

    text-align: center;

    color: #FFFFFF;

    margin-top: 12px;
}

.what_need_image{
    width: 244px;
    height: 358px;
}

.what_need_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1160px;
    height: 396px;
    background: #EAF2F5;
    border-radius: 48px;
    margin-top: 23px;

}

/*/main_content/*/

.main_content{
    width: 100%;
    height: 650px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;
    margin-top: -40px;
}

.main_text{
    width: 358px;
    height: 750px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch; 
    margin-top: -40px;
}

.main_title{
    width: 638px;
    height: 92px;
    
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
}
    
.main_subtitle{
    width: 358px;
    height: 60px;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #22253B;
    margin-top: -270px;
}

.line{
    margin-top: -265px;
}

.title_image{
    margin-top: 100px;
    width: 543px;
    height: 440px;
}


.main_subtitle_2{
    width: 365px;
    height: 46px;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #22253B;
    margin-top: -290px;
}

.reg_button{
    width: 321px;
    height: 70px;
    
    background: #F15525;
    border-radius: 82px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: -268px;
} 

.reg_button:hover{
    background: #d53606;
    transform: scale(1.1);
    cursor: pointer; 
    transition: all 0.2s;
}


/*/under_content/*/

.under_title{
    width: 665px;
    height: 96px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
}

.container{
    margin-left: 111px;
    background-color: #EAF2F5;
    width: 1160px;
    height: 396px;
    margin-top: 100px;
    border-radius: 48px;
}

.under_main{
    width: 244px;
    height: 358px;
    margin-top: 20px;
    margin-left: 150px;
}

.subt_1{
    width: 179px;
    height: 45px;
    background: #5096FF;
    margin-left: 589px;

}

/* description */

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desc_title{
    width: 873px;
    height: 92px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    margin-top: 100px;
    color: #22253B;
}

.infos{
    width: 600px;
    height: 550px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-between;
    margin-top: 50px;
}
.info_1{
    width: 270px;
    height: 254px;
    background: #EAF2F5;
    border-radius: 30px;
    display: block;
}

.imfo1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.info_img_1{
    width: 58px;
    height: 58px;
    margin-top: 50px;
    margin-left: 106px;
}

.info_title_1{
    width: 183px;
    height: 37px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-left: 43px;
    margin-top: 19px;
    color: #22253B;
}

.info_subtitle_1{
    width: 200px;
    height: 49px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-left: 35px;
    margin-top: 10px;
    color: #22253B;
}

.info_2{
    width: 270px;
    height: 254px;
    background: #EAF2F5;
    border-radius: 30px;
    display: block;
}

.info_img_2{
    width: 58px;
    height: 58px;
    margin-top: 50px;
    margin-left: 106px;
}

.info_title_2{
    width: 183px;
    height: 37px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-left: 52px;
    margin-top: 19px;
}

.info_subtitle_2{
    width: 200px;
    height: 49px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-left: 35px;
    margin-top: 10px;
}

.info_3{
    width: 270px;
    height: 254px;
    background: #EAF2F5;
    border-radius: 30px;
    display: block;
}

.info_img_3{
    width: 58px;
    height: 58px;
    margin-top: 50px;
    margin-left: 106px;
}

.info_title_3{
    width: 183px;
    height: 37px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-left: 52px;
    margin-top: 19px;
}

.info_subtitle_3{
    width: 200px;
    height: 49px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-left: 35px;
    margin-top: 10px;
}

.info_4{
    width: 270px;
    height: 254px;
    background: #EAF2F5;
    border-radius: 30px;
    display: block;
}

.info_img_4{
    width: 58px;
    height: 58px;
    margin-top: 50px;
    margin-left: 106px;
}

.info_title_4{
    width: 183px;
    height: 37px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-left: 52px;
    margin-top: 19px;
}

.info_subtitle_4{
    width: 200px;
    height: 49px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-left: 35px;
    margin-top: 10px;
}

/*/ recomendations /*/

.recomendations{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line_2{
    width: 1px;
    height: 259px;
}

.recomend_info{
    width: 1160px;
    height: 336px;
    border-radius: 40px;
    background: #FFFFFF;
    box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.recomend_title{
    width: 913px;
    height: 92px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    margin-top: 160px;
    color: #22253B;
}

.recomend_img{
    margin-top: 65px;
    display: block;
}

.number{
    color: #38BFF2;
    font-family: 'Abhaya Libre', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 77px;
    line-height: 30px;

    align-items: center;
    display: block;
    margin-top: 56px;
}

.rec_info{
    display: flex;
    flex-direction: column;
}

.rec_info_title{
    width: 266px;
    height: 30px;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    color: #22253B;
    margin-top: 20px;
    display: block;
}

.rec_info_subtitle{
    width: 320px;
    height: 126px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
}
